<p id="notice"><%= notice %></p>
<div class="user-show">
    <h1>Author Email:</h1>
    <h3><%= @user.email %></h3>
     
    <h1>Author Name:</h1>
    <h3><%= @user.a_name %></h3>
    
    <h1>Author Birth Date:</h1>
    <h3><%= @user.date_of_birth %></h3>
    
     <h1>Number of Books:</h1>
     <h3><%= @user.books.size %></h3>
</div>  