<body class="forgot"></body>
<div id="pswd-form">
<h2 class="pswd-heading">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email ,:class=>"email-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your E-mail address" ,:class=>"email-field"%>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class=>"button-pswd" %>
  </div>
<% end %>
<div class="link-css">
<%= render "devise/shared/links" %>
</div>
</div>